* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: white; /* Fundo branco para toda a página */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1; /* Faz o conteúdo ocupar o espaço entre Header e Footer */
  padding: 20px; /* Espaçamento interno para o conteúdo */
  background-color: white; /* Fundo branco para o conteúdo */
  margin: 20px auto; /* Centraliza o conteúdo horizontalmente */
  max-width: 1000px; /* Define uma largura máxima para o conteúdo */
  width: 100%; /* Garante que ocupe 100% da largura disponível */
}

.footer {
  background-color: #1A202C;
  padding: 3px;
  position: relative;
  bottom: 3px;
  width: 100%;
}

.footer p{
  color: white;
  text-align: center;
  justify-content: center;
}